@charset "UTF-8";
/*------------------------------------------- skills.css */
.page__mv__faq::after {
    background-image: url('../img/faq/img_sp.jpg');
}
@media screen and (min-width: 768px) {
    .page__mv__faq::after {
        background-image: url('../img/faq/img_pc.jpg');
    }
}
.faq__box {
    padding-bottom: 15px;
    border-bottom: 1px solid #bfc8d1;
}
.faq__box + .faq__box {
    padding-top: 15px;
}
.faq__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-left: 40px;
}
.faq__txt+.faq__txt {
    margin-top: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.faq__txt.faq_q {
    font-weight: bold;
    font-size: 1.6rem;
    padding-right: 20px;
    line-height: 1.5;
    min-height: 30px;
}
.faq__txt span {
    max-width: 30px;
    min-width: 30px;
    min-height: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.faq__txt.faq_q span {
    background-color: #071f61;
}
.faq__txt.faq_a span {
    background-color: #1e9bbf;
}
.faq__txt .plus {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
    .faq__txt.faq_a {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .faq__txt .plus {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .t__faq__body {
        margin-bottom: 60px;
    }
    .faq__box {
        padding-bottom: 25px;
    }
    .faq__box + .faq__box {
        padding-top: 30px;
    }
    .faq__txt {
        padding-left: 55px;
    }
    .faq__txt+.faq__txt {
        margin-top: 12px;
    }
    .faq__txt.faq_q {
        font-size: 2.4rem;
    }
    .faq__txt.faq_a {
        font-size: 1.6rem;
    }
    .faq__txt span {
        max-width: 35px;
        min-width: 35px;
        min-height: 35px;
        font-size: 2rem;
    }
    .faq__txt.faq_a span {
        top: 6px;
    }
}