@charset "UTF-8";
/*------------------------------------------- effect.css */
.page__mv__results::after {
    background-image: url('../img/results/img_sp.jpg');
}
@media screen and (min-width: 768px) {
    .page__mv__results::after {
        background-image: url('../img/results/img_pc.jpg');
    }
}
/*------------------------------------------- トレーニングの効果 */
.p-audio {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    padding: 1.5rem;
    border: 1px solid #eff1f2;
}
.p-audio__image {
    height: 5rem;
    min-width: 5rem;
    width: 5rem;
    margin: 0 auto;
}
.p-audio__item {
    margin-left: 0;
    width: 100%;
    margin-top: 35px;
}
.p-audio__title {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.2rem;
    max-height: 30px;
}
.p-audio__item.-before .p-audio__title {
    background: #808081;
}
.p-audio__item.-after .p-audio__title {
    background: #0991c9;
}
.p-audio__button {
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    line-height: 1;
    margin-top: .7rem;
    width: 100%;
}
.p-audio__item.-before .p-audio__button {
    color: #808081;
}
.p-audio__item.-after .p-audio__button {
    color: #0991c9;
}
.p-audio__button-icon {
    border: 3px solid currentColor;
    border-radius: 100%;
    height: 5rem;
    margin-bottom: .5rem;
    position: relative;
    width: 5rem;
}
.p-audio__button-icon::before {
    border-color: transparent transparent transparent currentColor;
    border-style: solid;
    border-width: .7rem 0 .7rem 1.3rem;
    content: "";
    left: calc(50% + .1rem);
    position: absolute;
    top: calc(50% + .1rem);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.p-audio__button.is-on .p-audio__button-icon::before {
    border: none;
    border-left: 3px solid currentColor;
    border-right: 3px solid currentColor;
    height: 1rem;
    left: calc(50%);
    top: calc(50%);
    width: 1rem;
}
.p-audio__button.is-on .p-audio__button-play {
    display: none;
}
.p-audio__button:not(.is-on) .p-audio__button-pause {
    display: none;
}
.p-audio__button-play,
.p-audio__button-pause {
    font-size: 1.2rem;
}
p.audio_txt {
    padding-top: 7px;
    width: 260%;
    font-size: 1.3rem;
    margin-left: -40px;
    text-align: center;
    font-size: 1.3rem;
}
br.br_sp_none {
	display: none;
}
h2.effect_ttl {
    	font-size: 2.6rem;
    	text-align: center;
    	margin-bottom: 10px;
    	line-height: 1.1;
    	font-weight: bold;
}
h3.effect_ttl_2 {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.3;
        font-weight: bold;
}
br.sp_br {
    display: block;
}
span.ttl_strong {
    font-size: 4rem;
}
.btn_list {
    display: block;
    width: 105%;
    max-width: 105%;
}
button.btn__box {
    padding: 10px;
    background: #091b4d;
    width: 45%;
    display: inline-block;
    border: 1px solid #ffffff;
    margin-left: 5px;
    margin-bottom: 7px;
    text-align: center;
    color: #ffffff;
}
p.sarch_ttl {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}
ul.audio_box {
    width: 100%;
    margin-top: 30px;
}
li.box {
	margin-bottom: 0;
}
li.li_ttl {
	background: none !important;
	color: #000000 !important;
	width: 100% !important;
}
ul#filterBtnList li {
	display: inline;
}
.search-box_label {
  font-weight: bold;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2.0rem;
  margin-top: 30px;
}
.is-hide {
  display: none;
}
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
    background: #091b4d;
    width: 44%;
    margin: 5px;
    padding: 7px;
    text-align: center;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: bold;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
.search-box {
    text-align: left;
}
li.list_item {
	margin-bottom: 0;
}
@media screen and (min-width: 992px) {
    .p-audio {
        padding: 1.8rem;
		display: flex;
		border: 1px solid #eff1f2;
    }
    .p-audio__image {
        height: 14rem;
        min-width: 10rem;
        width: 14rem;
        margin-bottom: 10px;
    }
    .p-audio__item {
        margin-left: 2rem;
        margin-top: 0;
    }
    .p-audio__title {
        font-size: 1.8rem;
    }
    .p-audio__button {
        font-size: 2rem;
        font-weight: 500;
        margin-top: 1.3rem;
    }
    .p-audio__button-icon {
        border-radius: 50%;
        border-width: 5px;
        height: 7.5rem;
        margin-bottom: .6rem;
        width: 7.5rem;
    }
    .p-audio__button-icon::before {
        border-width: 1rem 0 1rem 1.8rem;
        left: calc(50% + .2rem);
    }
    .p-audio__button.is-on .p-audio__button-icon::before {
        border-width: 5px;
        height: 1.6rem;
        width: 1.6rem;
    }
    .p-audio__button-play,
    .p-audio__button-pause {
        font-size: 1.6rem;
    }
    p.audio_txt {
    	line-height: 1.5;
    	padding-top: 7px;
    	font-size: 1.4rem;
    	padding-top: 7px;
    	width: 100%;
    	margin-left: 0;
    }
    br.br_sp_none {
	display: block;
}
    h2.effect_ttl {
    	font-size: 4rem;
    }
    h3.effect_ttl_2 {
        font-size: 2.6rem;
        margin-bottom: 60px;
    }
    br.sp_br {
    display: none;
}
span.ttl_strong {
    font-size: 7rem;
}
p.sarch_ttl {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 60px;
}
.btn_list {
    display: block;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}
button.btn__box {
    padding: 10px;
    background: #091b4d;
    width: 20%;
    display: inline-block;
    border: 1px solid #ffffff;
    margin-left: 5px;
    margin-bottom: 7px;
    text-align: center;
    color: #ffffff;
    margin: 0 15px;
}
.btn_list ul {
    width: 100%;
    display: block;
}
ul.audio_box {
    width: 120%;
    margin-left: -90px;
    margin-top: 60px;
    display: flex;
}
li.box {
	margin-bottom: 20px;
}
.search-box_label {
    font-size: 2.4rem;
    margin-bottom: 20px;
}
.radio-inline__label {
    width: 18%;
    margin: 7px;
    padding: 7px;
}
.search-box {
    text-align: center;
}
li.list_item {
	margin-bottom: 30px;
}
}