/*---------------------------------------------------------------------------*\
  $CUSTOM
\*---------------------------------------------------------------------------*/
// Common
@function vw_pc($px, $base: 1904) {
  @return ($px / $base) * 100vw;
}
@function vw_sp($px, $base: 750) {
  @return ($px / $base) * 100vw;
}
.c-bg-linear01 {
  background-image: linear-gradient(315deg, #004FFF 0%, #000000 40%, #000000 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.c-arrow01 {
  &__item {
    width: clamp(0px, vw_pc(200), 200px);
    height: clamp(0px, vw_pc(200), 200px);
    border-style: solid;
    border-color: #004fff;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    @media screen and (max-width: 767px){
      width: vw_sp(120);
      height: vw_sp(120);
    }
  }
  &__img {
    width: clamp(0px, vw_pc(25), 25px);
    position: absolute;
    top: calc(100% + #{vw_pc(30)});
    right: vw_pc(-25);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media screen and (max-width: 767px){
      width: vw_sp(15);
      top: calc(100% + #{vw_sp(15)});
      right: vw_sp(-15);
    }
  }
  &__tr {
    border-width: clamp(0px, vw_pc(25), 25px) clamp(0px, vw_pc(25), 25px) 0 0;
    top: clamp(0px, vw_pc(50), 50px);
    right: clamp(0px, vw_pc(50), 50px);
    @media screen and (max-width: 767px){
      border-width: vw_sp(15) vw_sp(15) 0 0;
      top: vw_sp(40);
      right: vw_sp(10);
    }
  }
  &__bl {
    border-width: 0 0 clamp(0px, vw_pc(25), 25px) clamp(0px, vw_pc(25), 25px);
    bottom: vw_sp(40);
    left: clamp(0px, vw_pc(110), 110px);
    @media screen and (max-width: 767px){
      border-width: 0 0 vw_sp(15) vw_sp(15);
      bottom: vw_sp(40);
      left: vw_sp(10);
    }
  }
}

// .header
.header {
  z-index: 3;
  @media screen and (max-width: 767px){
    height: vw_sp(130);
    background-color: #000;
  }
  &__top {
    .h__logo {
      width: auto;
      position: static;
      padding: 0;
      margin-top: 30px;
      img {
        max-width: none;
        min-width: auto;
        width: 158px;
      }
      @media screen and (min-width: 768px) and (max-width: 1439px){
        margin-top: 0;
        img {
          width: 55px;
        }
      }
      @media screen and (min-width: 1440px) and (max-width: 1900px){
        margin-top: 0;
        img {
          width: 92px;
        }
      }
      @media screen and (max-width: 767px){
        margin-top: 0;
        img {
          width: vw_sp(125);
        }
      }
    }
  }
}

// .fixed__header
.fixed__header {
  max-width: 1780px;
}

// .h__inner
.h__inner {
  height: auto;
  padding-right: 23px;
  padding-left: 33px;
  background: transparent;
  justify-content: space-between;
  @media screen and (min-width: 768px) and (max-width: 1439px){
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width: 1440px) and (max-width: 1900px){
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (max-width: 767px){
    height: 100%;
    padding-right: vw_sp(40);
    padding-left: vw_sp(30);
  }
}

// .h__btn
.h__btn {
  margin-left: 52px;
  @media screen and (min-width: 768px) and (max-width: 1439px){
    margin-left: 10px;
  }
  @media screen and (min-width: 1440px) and (max-width: 1900px){
    margin-left: 30px;
  }
}

// .h__menu
.h__menu {
  &__inner {
    padding: 20px 0;
    @media screen and (min-width: 768px) and (max-width: 1439px){
      padding: 10px 0;
    }
    @media screen and (min-width: 1440px) and (max-width: 1900px){}
    .btn {
      min-width: 284px;
      height: 62px;
      font-weight: 700;
      line-height: 1.5;
      border-radius: 0;
      @media screen and (min-width: 768px) and (max-width: 1199px){
        min-width: 135px;
        height: 40px;
      }
      @media screen and (min-width: 1200px) and (max-width: 1439px){
        min-width: 190px;
        height: 60px;
        flex-direction: column;
        span {
          display: block;
        }
      }
      @media screen and (min-width: 1440px) and (max-width: 1900px){
        min-width: 200px;
        height: 60px;
      }
      &::before {
        display: none;
      }
      &+.btn {
        margin-left: 15px;
        @media screen and (min-width: 768px) and (max-width: 1439px){
          margin-left: 10px;
        }
        @media screen and (min-width: 1440px) and (max-width: 1900px){
        }
      }
      &__1 {
        border-width: 3px;
      }
      &__2 {
        background-color: #ffe100;
        color: #081f62;
      }
    }
  }
}

// .h__gnav
.h__gnav {
  li {
    margin-right: 0;
  }
  >li+li {
    margin-left: 46px;
    @media screen and (min-width: 768px) and (max-width: 1439px){
      margin-left: 10px;
    }
    @media screen and (min-width: 1440px) and (max-width: 1900px){
      margin-left: 30px;
    }
  }
}

// .h__btn
.h__btn {
  &__sp {
    width: vw_sp(295);
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: vw_sp(28);
    font-weight: 700;
    background-color: #ffe000;
    color: #071f61;
    right: vw_sp(126);
  }
}

// .hamburger menu SP
.hamburger {
  &__bth {
    width: vw_sp(126);
    height: vw_sp(130);
  }
  &__inner {
    width: vw_sp(48);
    height: vw_sp(42);
  }
  &__icon {
    height: vw_sp(2);
    &:nth-child(2) {
      width: vw_sp(24);
      top: vw_sp(20);
    }
    &:last-child {
      width: vw_sp(36);
    }
  }
  &__active {
    .hamburger__icon:first-child {
      width: vw_sp(48);
      left: vw_sp(-4);
    }
    .hamburger__icon:last-child {
      width: vw_sp(48);
      left: vw_sp(-4);
      bottom: vw_sp(6);
    }
  }
}

// .mv.j__mv02
.mv.j__mv02 {
  margin-top: calc(var(--heightHeader) * -1);
  @media screen and (max-width: 767px){
    margin-top: 0;
  }
}

// main
main {
  @media screen and (max-width: 767px){
    margin-top: var(--heightHeader);
  }
}

// .p-topRoot
.p-topRoot {
  position: relative;
  @media screen and (max-width: 767px){
    padding-top: vw_sp(163);
    padding-bottom: vw_sp(163);
  }
  &__ttl {
    background-color: #004fff;
    color: #000;
    font-size: clamp(0px, vw_pc(40), 40px);
    span {
      color: #fff;
    }
    @media screen and (max-width: 767px){
      font-size: vw_sp(40);
    }
  }
  &__subttl {
    @media screen and (max-width: 767px){
      line-height: 1.1;
      margin-top: vw_sp(15);
      margin-bottom: vw_sp(120);
      &--small {
        font-size: vw_sp(50);
      }
    }
  }
  &__tabList {
    background-color: #000;
  }
  &__tabItem {
    &.active {
      color: #000;
    }
  }
  &__slider {
    .swiper-slide-txt-item {
      background-color: #004fff;
      color: #000;
      font-size: clamp(0px, vw_pc(30), 30px);
      padding: clamp(0px, vw_pc(5), 5px) clamp(0px, vw_pc(40), 40px);
      @media screen and (max-width: 767px){
        line-height: 1.7;
        font-size: vw_sp(32);
        padding: vw_sp(6) vw_sp(40);
      }
      span {
        margin-left: -1px;
        &:before {
          content: "";
          top: unset;
          bottom: 2px;
          width: 100%;
          height: clamp(0px, vw_pc(10), 10px);
          background-color: #fff;
          z-index: -1;
          @media screen and (max-width: 767px){
            height: vw_sp(10);
          }
        }
      }
      &.emphasis {
        padding: clamp(0px, vw_pc(5), 5px) clamp(0px, vw_pc(40), 40px);
        @media screen and (max-width: 767px){
          padding: vw_sp(6) vw_sp(40);
        }
      }
    }
    .swiper-container {
      padding-bottom: clamp(0px, vw_pc(80), 80px);
      @media screen and (max-width: 767px){
        padding-bottom: vw_sp(100);
      }
    }
  }
  &__sliderNav {
    width: 100%;
    background-color: #061e61;
    padding-top: clamp(0px, vw_pc(8), 8px);
    padding-bottom: clamp(0px, vw_pc(8), 8px);
    z-index: -1;
    @media screen and (max-width: 767px){
      padding-top: vw_sp(8);
      padding-bottom: vw_sp(8);
    }
    &-wrap {
      position: relative;
      width: vw_pc(1130);
      margin: 0 auto;
      @media screen and (max-width: 767px){
        width: vw_sp(670);
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      background-color: transparent;
      bottom: vw_pc(-2);
      @media screen and (max-width: 767px){
        bottom: vw_sp(-3);
      }
    }
  }
}

// .t__about
.t__about {
  padding-bottom: clamp(0px, vw_pc(180), 180px);
  background-image: linear-gradient(315deg, #004FFF 0%, #000000 40%, #000000 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media screen and (max-width: 767px) {
    padding-top: vw_sp(100);
    padding-bottom: vw_sp(120);
  }
  &::before {
    display: none;
  }
  &__img {
    margin-right: clamp(0px, vw_pc(120), 120px);
  }
  .content__area--title {
    max-width: none;
    width: clamp(0px, vw_pc(1390), 1390px);
    margin: 0 auto;
    padding: 0;
    .section__ttl {
      margin: 0 0 clamp(0px, vw_pc(100), 100px) 0;
    }
    .t_ttl_1 {
      margin: 0;
      color: #004fff;
      @media screen and (max-width: 767px) {
        font-size: vw_sp(60);
      }
    }
  }
  .content__area--desc {
    max-width: none;
    width: clamp(0px, vw_pc(1440), 1440px);
    margin: clamp(0px, vw_pc(85), 85px) auto 0 auto;
    padding: 0 clamp(0px, vw_pc(30), 30px) 0 0;
    .section__ttl {
      margin: 0;
      justify-content: flex-end;
      @media screen and (max-width: 767px) {
        font-size: vw_sp(28);
      }
    }
  }
}

// .t__effect
.t__effect {
  position: relative;
  .slider {
    .slick-prev, .slick-next {
      z-index: 2;
    }
  }
  @media screen and (max-width: 425px) {
    .slider {
      .p-audio {
        padding: vw_sp(30);
      }
      .p-audio__image {
        height: 14rem;
        min-width: 11rem;
        width: 11rem;
        img {
          width: 100%;
        }
      }
      .p-audio__item {
        padding: vw_sp(30) vw_sp(30) 0 vw_sp(70);
      }
    }
  }
  .effect_ttl_2 {
    font-size: 2rem;
    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }
  }
}

// .t__introduction
.t__introduction {
  margin-bottom: 0;
}

// .t__voice
.t__voice {
  position: relative;
  padding-top: clamp(0px, vw_pc(150), 150px);
  padding-bottom: clamp(0px, vw_pc(210), 210px);
  margin-bottom: 0;
  @media screen and (min-width: 768px) and (max-width: 1300px) {
    .c-arrow01__tr {
      right: clamp(0px, vw_pc(25), 25px);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1500px) {
    .c-arrow01__bl {
      left: clamp(0px, vw_pc(10), 10px);
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: vw_sp(120);
    padding-bottom: vw_sp(120);
    background-image: linear-gradient(275deg, #004FFF 0%, #000000 95%, #000000 100%);
  }
  .c-arrow01__bl {
    @media screen and (max-width: 767px) {
      left: 0;
    }
  }
  .section__ttl,
  .t_ttl_1 {
    color: #fff;
  }
  .sup {
    color: #fff;
  }
  .content__area {
    @media screen and (max-width: 767px) {
      padding-left: vw_sp(38);
      padding-right: vw_sp(38);
    }
  }
  &__list {
    ul {
      margin: 0;
      gap: clamp(0px, vw_pc(65), 65px) clamp(0px, vw_pc(60), 60px);
      li {
        margin: 0 !important;
        padding: 0 !important;
      }
      @media screen and (max-width: 767px) {
        gap: vw_sp(40);
      }
    }
  }
  .voice__box {
    &::before,
    &::after {
      display: none;
    }
    border: none;
    background-image: linear-gradient(315deg, #004FFF 0%, #000000 70%, #000000 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding-left: clamp(0px, vw_pc(60), 60px);
    padding-right: clamp(0px, vw_pc(60), 60px);
    min-height: clamp(0px, vw_pc(480), 480px);
    @media screen and (max-width: 767px) {
      min-height: auto;
      padding: vw_sp(70);
    }
  }
  .voice__arrow {
    width: clamp(0px, vw_pc(124), 124px);
    height: clamp(0px, vw_pc(124), 124px);
    border-style: solid;
    border-color: #004fff;
    position: absolute;
    &--tr {
      border-width: clamp(0px, vw_pc(11), 11px) clamp(0px, vw_pc(11), 11px) 0 0;
      top: vw_pc(-9);
      right: vw_pc(-9);
    }
    &--bl {
      border-width: 0 0 clamp(0px, vw_pc(11), 11px) clamp(0px, vw_pc(11), 11px);
      bottom: vw_pc(-9);
      left: vw_pc(-9);
    }
    @media screen and (max-width: 767px) {
      width: vw_sp(124);
      height: vw_sp(124);
      &--tr {
      border-width: vw_sp(11) vw_sp(11) 0 0;
      top: vw_sp(-9);
      right: vw_sp(-9);
    }
    &--bl {
      border-width: 0 0 vw_sp(11) vw_sp(11);
      bottom: vw_sp(-9);
      left: vw_sp(-9);
    }
    }
  }
  .voice__name {
    span {
      display: block;
      font-size: 2.2rem;
      @media screen and (max-width: 767px) {
        font-size: 1.8rem;
      }
    }
  }
  .voice__comment {
    position: static;
    background: none;
    padding: 0;
    margin-bottom: clamp(0px, vw_pc(20), 20px);
    &::after {
      display: none;
    }
  }
}

// .footer
.footer {
  small {
    border: none;
    color: #fff;
  }
}